{
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "extends": ["eslint:recommended", "eslint-config-prettier"],
    "rules": {
        "strict": ["error", "never"]
    },
    "env": {
        "node": true
    }
}